[submodule "settings"]
	path = settings
	url = git@github.com:dav-cho/settings.git
[submodule "cm-dotfiles"]
	path = cm
	url = git@github.com:dav-cho/cm-dotfiles.git
[submodule "debian"]
	path = debian
	url = git@github.com:dav-cho/dotfiles-debian.git
