[submodule "settings"]
	path = settings
	url = git@github.com:dav-cho/settings.git
[submodule "cm-settings"]
	path = cm-settings
	url = git@github.com:dav-cho/cm-settings.git
[submodule "cm-dotfiles"]
	path = cm-dotfiles
	url = git@github.com:dav-cho/cm-dotfiles.git
